.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.35s ease-in-out;
}

.modalContent {
  width: 30%;
  background-color: #fff;
}

.modalHeader {
  padding: 10px;
}

.modalTitle {
  margin: 0;
  font-size: large;
  font-family: Helvetica;
}

.modalBody {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-family: Helvetica;
}
