.movieContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  font-size: large;
  font-family: Helvetica;
}

.movieList {
  display: grid;
  grid-template-columns: auto auto auto;
}
