.movie {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
}

.moviePoster {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin: auto;
  transition-duration: 1s;
}

.moviePoster:hover {
  width: 75%;
  height: auto;
}

.nominateBtn {
  font-family: Helvetica;
  border-radius: 3px;
  display: flex;
  background-color: #3498db; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.nominateBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #69b3e5;
}

.nominateBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
