.nomineeContainer {
  background-color: greenyellow;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 75%;
  margin: auto;
  margin-top: 10px;
  font-family: Helvetica;
  display: flex;
  justify-content: center;
}

.noNomineeContainer .frownImg {
  display: flex;
  justify-content: center;
}

.noNomineeText {
  display: flex;
  justify-content: center;
}

.nominatedMovie {
  display: flex;
  flex-direction: column;
}

.removeNominee {
  font-family: Helvetica;
  border-radius: 3px;
  display: flex;
  background-color: rgb(249, 49, 84); /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.removeNominee:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.7;
  background-color: rgb(249, 49, 84);
}

label {
  text-align: center;
  font-size: large;
  font-family: Helvetica;
}

.btnContainer {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}

button {
  font-family: Helvetica;
  border-radius: 3px;
  display: flex;
  background-color: #3498db; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #69b3e5;
}
