.skeleton {
  background: #ddd;
  margin: 10px 0;
  border-radius: 4px;
}

.skeleton.text {
  width: 100%;
  height: 12px;
}

.skeleton.poster {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: auto;
}

.skeletonWrapper {
  margin: 20px auto;
  padding: 10px 15px;
  position: relative;
  background: #f2f2f2;
  overflow: hidden;
}

/* Animation effects */
.shimmerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loadingMovie 2.5s infinite;
}

.shimmer {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
}

@keyframes loadingMovie {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(150%);
  }
}
